# Java compiled files
# Maven / Gradle build directories
/target/
/build/

# IDE specific files
*.iml
*.ipr
*.iws
.idea/

# Logs and temp files
*.log
*.tmp

# OS specific files
.DS_Store
Thumbs.db

# WAR or EAR files
*.war
*.ear
